/* reset CSS */
* {
  box-sizing: border-box;
  background-color: blanchedalmond;
  padding: 0;
  margin: 0;
}

.window {
  height: 200px;
  width: 200px;
  padding: 20px;
  border: 2px solid black;
  overflow: scroll;
}
